@import url("https://fonts.googleapis.com/css?family=Open+Sans:300i,400|Solway:400,500&display=swap");

:root {
  --primaryFont: "Open Sans", sans-serif;
  --slantedFont: "Solway", serif;
  --mainWhite: #fff;
  --mainBackground: #f8f8f8;
  --mainBlack: #222;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --mainBorderRadius: 0.25rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primaryFont);
  color: var(--mainBlack);
  background: var(--mainBackground);
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
  transition: 0.5 all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--slantedFont);
  letter-spacing: var(--mainSpacing);
}

p {
  margin-bottom: 1.25rem;
}

a {
  text-decoration: none;
  color: var(--mainBlack);
}

img {
  width: 100%;
  display: block;
}

main {
  min-height: calc(100vh - 40px);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}

@media (max-width: 767px) { 
  .main {
    padding: 0 10px;
  }
}

.section-title {
  font-family: var(--primaryFont);
  padding: 10px;
  font-size: 1.2rem;
}

@media (max-width: 767px) { 
  .section-title {
  font-size: 1rem;
  }
}



.loading {
  text-transform: capitalize;
  text-align: center;
  font-size: 1rem;
  margin-top: 3rem;
  letter-spacing: var(--mainSpacing);
}

.btn,
.btn-white,
.btn-primary {
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  border: 1px solid #222;
  padding: 0.45rem 0.8rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
  font-size: 0.8rem;
  background: transparent;
  border-radius: var(--mainBorderRadius);
  display: inline-block;
  border: 1px solid #000000;
  margin-top: 10px;
}

.btn:hover {
  background: #5dc0d6;
  border: 1px solid #000000;
  color: var(--mainWhite);
}

.btn-white {
  background: transparent;
  color: var(--mainWhite);
  border-color: var(--mainWhite);
}

.btn-block {
  width: 80%;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.btn-details {
  padding: 0.25rem 0.4rem;
}

.btn-disabled {
  background: #5dc0d6;
  color: inherit;
  cursor: auto
}

.btn-disabled:hover {
  background: #5dc0d6;
  color: inherit;
}

.navbar, .footer {
  background: var(--mainWhite);
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 30px;
  transition: 0.5s all;
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15)
}

.navbar {
  position: fixed;
  width: 100%;
  align-items: baseline;
}


@media (max-width: 767px) { 
  .navbar {
    height: 6rem;
  }
}

@media (max-width: 767px) { 
  .footer {
    height: 6rem;
  }
  .footer .section-title {
    font-size: 0.6rem;
  }
}

.btn-theme {
  cursor: pointer;
  padding: 5px;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-links a {
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  transition: var(--mainTransition);
}

.navbar-search, .navbar-icon {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

@media (max-width: 500px) { 
  .navbar-search {
    flex-direction: column;
  }
  .navbar-search h2 {
    font-size: 1rem;
  }
}

main, .cocktail-section {
  padding-top: 4rem;
}

@media (max-width: 767px) { 
  main, .cocktail-section {
    padding-top: 5rem;
  }
}

@media (max-width: 767px) { 
  .section-search {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin-top: 10px;
  }
}

.section-search input {
  padding: 10px 20px;
  outline: none;
}

.navbar-search h2 {
  margin-right: 2rem;
}

.section-search button {
  border-left: none;
}

.cart-icon {
  cursor: pointer;
  padding: 10px;
}

.section-info .drink {
  display: flex;
  padding: 20px 0;
}

.section-info img {
  max-width: 300px;
}

.section-info .drink-info {
  text-align: left;
  padding-left: 2rem;
}

.section-info ul {
  padding-left: 2rem;
}

@media (max-width: 767px) { 
  .section-info .drink {
    display: block;
  }

  .section-info .drink-info {
    padding: 30px 0;
  }
}

.cocktails-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cocktail {
  margin: 20px 0;
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15)
}

.random-coctail {
  display: flex;
}

@media (max-width: 767px) {
  .random-coctail {
    display: block;
  }
}

.cocktails-center img {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
}

.cocktail h3 {
  max-width: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 500px) { 
  .cocktail .cocktail-footer h3 {
    font-size: 14px;
  }
}

.cocktail-footer {
  padding: 10px;
}

.btn-block {
  display: flex;
  flex-direction: column;
}

.btn-block button {
  margin: 10px 0;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.638);
}

.modalWrap .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;
  width: 100%;
  padding: 1rem;
  max-width: 600px;
  height: auto;
  pointer-events: all;
  min-height: 550px;
  overflow: auto;
}

.card-modal {
  text-align: center;
}

.btn-close {
  cursor: pointer;
  padding: 10px;
}

.btn-close .fa-times {
  display: flex;
  justify-content: flex-end;
}

.card-modal img {
  max-width: 100px;
}

.card-modal h3 {
  font-size: 18px;
}

.btn-cart-block {
  display: flex;
  justify-content: flex-end;
}

.card-modal .cocktail {
  display: flex;
  box-shadow: none;
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15)
}

.footer .items {
  display: flex;
  flex-wrap: wrap;
}

.footer .btn {
  padding: 5px;
  text-align: center;
  letter-spacing: 0
}

@media (max-width: 768px) { 

.footer .btn {
  padding: 3px;
  }
}

/* Dark */
body.dark {
  background-color: black;
  color: white;
  transition: 0.5s all;
}

body.dark .navbar {
  background-color: black;
  color: white;
  transition: 0.5s all;
  border-bottom: 1px solid white;
}

body.dark .footer {
  background-color: black;
  color: white;
  transition: 0.5s all;
  border-top: 1px solid white;
}

body.dark .modalWrap .modal {
  background-color: black;
  transition: 0.5s all;
}

body.dark .navbar h2 {
  color: white;
}

body.dark .btn,
.btn-white,
.btn-primary {
  border: 1px solid white;
  color: white;
}
body.dark .btn:hover {
  background: #5dc0d6;
  border: 1px solid white;
  color: var(--mainWhite);
}

body.dark .cocktail-footer {
  background: brown;

}

body.dark .card-modal .cocktail-footer {
  width: 100%;
}

body.dark .modalOverlay {
  background: rgba(242, 242, 242, 0.638);
}

/* Modal Portal */
.modal {
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: 0.5 all;
}

.modal .modal-content {
  background-color: #222;
  color: white;
  padding: 10px;
  transition: 0.5 all;
  border-radius: 4px;
}

body.dark .modal .modal-content {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}